In [7]:
print("Importing MySQL Connector/Python API")
import mysql.connector as connector
print("MySQL Connector/Python API is imported successfully\n")

Importing MySQL Connector/Python API
MySQL Connector/Python API is imported successfully

In [8]:
print("Establishing a new connection between MySQL and Python")
connection=connector.connect(user="admin",password="admin", db="littlelemon")
print("A connection between MySQL and Python is successfully established")

Establishing a new connection between MySQL and Python
A connection between MySQL and Python is successfully established

In [9]:
cursor = connection.cursor()

In [10]:
show_tables_query = "SHOW tables"

print("Executing the SQL query")
cursor.execute(show_tables_query)

Executing the SQL query

In [11]:
print("Fetching the query results")
results = cursor.fetchall()

Fetching the query results

In [18]:
print("Printing the results\n")
print(results)

Printing the results

[('bookings',), ('customers',), ('menuitems',), ('menutables',), ('orders',), ('ordersview',)]

In [24]:
query_1 = """
SELECT
a.FullName, a.ContactNumber, a.Email, SUM(b.TotalCost) AS BillAmount
FROM
customers a
LEFT JOIN
orders b ON a.CustomerID = b.CustomerID
GROUP BY
a.FullName, a.ContactNumber, a.Email
HAVING
SUM(b.TotalCost) > 60;
"""

In [25]:
print("Executing the SQL query")
cursor.execute(query_1)

Executing the SQL query

In [26]:
print("Fetching the query results")
results = cursor.fetchall()

Fetching the query results

In [27]:
print("Retrieving the column names")
cols = cursor.column_names

Retrieving the column names

In [28]:
print("Printing the results\n")
print(cols)
for result in results:
    print(result)

Printing the results

('FullName', 'ContactNumber', 'Email', 'BillAmount')

In [29]:
print("Closing the connection.")
connection.close()
print("The connection is now closed.")

Closing the connection.
The connection is now closed.